body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  .sidenav {
    height: 100%;
    width: 185px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #081f37;
    padding-top: 20px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.8);
  }

  .sidenav li{
    position: relative;
    padding: 11px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #5fc9f3;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    padding: 20px;
  }

 